@page
@using ClienteTACOSWeb.Modelos

@model ActualizarPedidoModel 
@{
    ViewData["Title"] = "Actualizar pedido";    
}

<title>Actualizar pedido</title>
<h1>Actualizar pedido</h1>
<h4>Miembro: <span>@Model.Pedido.Miembro.Persona.NombreCompleto</span></h4>
<h4>Fecha: <span>@Model.Pedido.Fecha</span></h4>
<h4>
    <label for="estado">Estado:</label>
    <select id="estado" asp-for="IdEstado">
        
        @foreach (var estado in Model.Estados){
            if (estado != (Estados)Model.Pedido.Estado){
                <option value= estado>
                    @estado
                </option>
            }else{
                <option selected value=@Model.Pedido.Estado>
                    @((Estados)Model.Pedido.Estado)
                </option>
            }
        }
    </select>
</h4>
<hr>
<hr>

<div class="d-flex  justify-content-end">
    <form method="post" asp-page-handler="ActualizarPedido">
        <button type="submit" class="btn btn-primary">Guardar cambios</button>
    </form>
    <button class="btn btn-secondary">Regresar</button>
</div>