@page
@model ClienteTACOSWeb.Pages.PerfilModel
@{
    ViewData["Title"] = "Actualizar pedido";
}


<title>Perfil</title>
<form method="post" asp-page-handler="CerrarSesion">
<button class="btn btn-primary">Cerrar sesión</button>
</form>